.hero-video-wrapper {
    position: relative;
    height: 700px;
    overflow: hidden;
    z-index: 1;
  }
  
  .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  
  .hero-overlay-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.4); 
  }

  
  .team-card img {
    object-fit: cover;
    width: 100%;
    height: 350px; 
    transition: transform 0.3s ease-in-out;
  }
  
  .team-card:hover{
    transform: scale(1.05);
    transition: 0.8s;
  }
  
  
  .team-info h5 {
    font-size: 1.2rem;
    margin: 5px 0;
  }
  
  .team-info p {
    font-size: 1rem;
    color: #666;
  }
  
  .team-info a {
    color: #0077b5;
    font-size: 1.5rem;
  }
  
  
  .team-card-link {
    display: block;
    color: inherit; 
    text-decoration: none; 
  }
  
  .team-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .team-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  @media (max-width: 991.98px) {

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
   

    .brand-logo {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
      
    }
    
  }